// app global css

// para las animaciones amimate-pop
@import 'core/motion'
body
	// overflow hidden
	
	.q-breadcrumbs
		font-size 21px!important
		font-weight 500!important
		.active-breadcrumb
			opacity 0.7!important

	

	// mejor si lleva el dialog el escrll en por ejemplo
	// <q-card-section style="height: 75vh" class="scroll">
	.q-dialog__inner > div
		overflow hidden!important	